{% macro product_card(product) %}
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product-card">
        <div class="product-image">
            <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" class="img-fluid">
            <div class="product-overlay">
                <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-add-cart">Add to Cart</a>
            </div>
        </div>
        <div class="product-info">
            <span class="product-category">{{ product.category }}</span>
            <h4 class="product-name">{{ product.name }}</h4>
            <p class="product-price">Dhs. {{ product.price }}</p>
        </div>
    </div>
</div>
{% endmacro %}
